<h2><%= @question.body %></h2>

<% form_for :answer, @answer, :url => member_oracle_question_answers_path do |f| -%>
  <%= f.label :body, I18n.t("member.oracle.answers.new.answer") %>
  <%= f.text_field :body %>
  
  <%= f.submit I18n.t("member.oracle.answers.new.submit") %>
<% end -%>
<%= link_to I18n.t("member.oracle.answers.new.see_answers_given_to_this_question"), oracle_question_answers_path(@question) %>