<h2><%= @question.body %></h2>

<% form_for :answer, @answer, :url => member_oracle_question_answers_path do |f| -%>
  <%= f.label :body, "Answer" %>
  <%= f.text_field :body %>
  
  <%= f.submit "Submit" %>
<% end -%>
<%= link_to 'See answers given to this question', oracle_question_answers_path(@question) %>