<h2>Answers for <%= @question.body %></h2>
<%= question_status_tag(@question) %>
<%#= question_and_list_of_answers(@question, @answers) %>
<!-- TODO: this would be nicer if the logic was moved to helper methods -->
<% if current_user == @question.user && @question.closeable? %>
  <% form_for @question do |f| -%>
    <ul>
      <%= render :partial => "answer_for_publisher", :collection => @answers, :as => :answer %>
    </ul>
    <%= f.submit "Submit" if @answers.length > 0 %>
  <% end -%>
<% else %>
  <%= render :partial => "answer", :collection => @answers %>
<% end %>

<p>
  <%= answer_this_question_link(@question) %>
  <%= link_to 'Back to list of questions', oracle_questions_path %>
</p>