<h2><%= I18n.t("member.oracle.questions.new.new_question") %></h2>

<% form_for :question, @question, :url => member_oracle_questions_path do |f| -%>
  <p>
    <%= f.label :title, I18n.t("member.oracle.questions.new.title") %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body, I18n.t("member.oracle.questions.new.body") %>
    <%= f.text_area :body, :cols => 40, :rows => 5 %>
  </p>
  <p>
    <%= f.label :tag_list, I18n.t("member.oracle.questions.new.tags") %>
    <%= f.text_field :tag_list %><br />
    <span class="helpinfo">(<%= I18n.t("oracle.common.separated_by_commas") %>)</span>
  </p>  
  <%= f.submit I18n.t("member.oracle.questions.new.submit_question") %>
<% end -%>